
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import 'mixin';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
};

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: Fredoka One;
    font-weight: 400;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    height: 15vh;
    width: 100%;
    background: linear-gradient(to right, #ff1111, #ff0606);
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: solid #fff;

    .nav_one {
        display: flex;
        align-items: center;

        li {
            color: #fff;
            cursor: pointer;
            font-family: Redressed, 'Courier New', Courier, monospace;
            font-weight: 500;
            font-size: 3rem;
            list-style: none;
            padding: 0.5rem;
            border: solid #ff0000;
            margin: 1rem;
            border-radius: 20px;

            &:hover {
                transition: 0.7s;
                font-size: 3.3rem;
                border: solid #fff;
                border-radius: 2rem;
                background-color: red;
            }
        }
    }

    .nav_two {
        display: grid;
        place-items: center;
        position: relative;

        .search {
            font-family: Fredoka One;
            font-size: 2rem;
            position: relative;
            border: solid #fff;
            margin: 2rem;
            outline: none;
            height: 4rem;
            width: 30rem;
            border-radius: 2rem;
        }

        .search_img {
            height: 20%;
            margin-left: 23rem;
            cursor: pointer;
            position: absolute;
        }
    }
};


.navbar_two {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    // NOTE
    li {
        display: flex;
        place-items: center;
        background-color: #f5a9a95e;
        cursor: pointer;
        border-radius: 2rem;
        font-size: 2rem;
        font-family: Fredoka One, monospace, cursive;
        padding: 1rem;
        border: solid #ffffff;
        list-style: none;
        color: #c71212;
        font-weight: 9rem;
        margin: 0.5rem;

        &:hover {
            transition: 0.7s;
            border: solid #ff0000bb;
        }
    }
}


.main_div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 90vh;
    width: 100%;

    .main_one {
        padding: 3rem;

        .intro-img {
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            margin: 1rem;
            padding: 0.5rem;

            .women-one {
                height: 15rem;
                border: solid 0.5rem #c72525;
                border-radius: 10rem;
            }

            h1 {
                cursor: pointer;
                font-size: 3rem;
                font-family: Fredoka One;
                margin: 1rem;
            }
        }

        h2 {
            cursor: pointer;
            font-family: Fredoka One;
            font-size: 2.5rem;
        }

        .author {
            cursor: pointer;
            color:#db0e0eaf;
            border-bottom: solid 0.2rem #ff0606;
        }

        p {
            font-family: Fredoka One;
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    .main_two {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;

        .newsletter-img {
            justify-self: center;
            height: 15rem;
            border-radius: 2rem;
            margin-bottom: 1rem;
        }

        .newsletter-text {
            font-family: Fredoka One;
            padding: 1rem;

            h1 {
                color: #e91822c2;
                font-size: 3.1rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 2rem;
                opacity: 0.7;
            }
        }

        .news-letter-input {
            margin: 1rem;
            padding: 1rem;
            display: flex;

            .input {
                height: 5rem;
                width: 30rem;
                font-family: Fredoka One;
                font-size: 2rem;
                outline: none;
                border: solid #a09595;
                border-radius: 2rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }

            button {
                position: absolute;
                margin-left: 25rem;
                color: #ffffff;
                cursor: pointer;
                height: 5rem;
                width: 6rem;
                border: solid #a09595;
                border-radius: 2rem;
                outline: none;
                background: linear-gradient(to right, #1bc1f3, #11b9fc);
                font-family: Fredoka One;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

                &:hover {
                    background: linear-gradient(to right, #37dd37, #3fe73f);
                }
            }
        }
    }
}

.sec-one {
    height: 100vh;
    width: 100%;
    background-color: #c56767;
}

// sass ends here.
